#
# Copyright 2020, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

.pyc
__pycache__/

# Nix
/result*

# Decompiler setup
/decompiler/decompile
/decompiler/decompile-nix
/decompiler/decompile-nix-image
/decompiler/src/
/decompiler/install/
